:root {
	--backgroundColour: #10161d;
}

* {
	border: 0;
	box-sizing: border-box;
	padding: 0;
}

body {
	background: var(--backgroundColour);
	/* background-color: var(--backgroundColour); */
	/* background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */

	color: var(--textColour);
	font-family: Inter, sans-serif;
	height: 100vh;
	margin: 0;
	padding: 0;
}
